{% extends 'site_base.html' %}

{# ########################################### #}

{% block page_title %}{% endblock %}

{# ########################################### #}

{% block page_content_header %}{% block title %}{% endblock %}{% endblock %}
{% block page_content_body %}

{% block content %}
{% endblock %}


{% endblock %}


{# ########################################### #}

{% block breadcrumbs %}
    {{ block.super }}
    {% block app_breadcrumbs %}
        <span class="divider">&gt;</span>
        {% include './includes/app_breadcrumbs.html' %}
        {% block page_breadcrumbs %}
        {% endblock %}
    {% endblock app_breadcrumbs %}
{% endblock %}

{# ########################################### #}
